.App {
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.content-wrapper {
    display: block;
    padding: 0 15%;
}

.content {
    display: flex;
    margin: 0 auto;
    padding: 15px 0 0;

    width: 100%;
}

main {
    width: 70%;
}

@media (max-width: 900px) {
    .content-wrapper {
        padding: 0 5%;
    }

    .content {
        min-width: -moz-fit-content;
        min-width: -webkit-fit-content;
    }
}
