:root {
    --color-lavender: rgb(223, 217, 226);
    --color-lavender-light: rgba(223, 217, 226, 0.3);
    --color-blue: rgb(77, 126, 168);
    --color-red: rgb(155, 29, 32);
    --color-black: rgb(30, 30, 36);
}

.App {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--color-black);
}

@media (max-width: 900px) {
    .App .content-wrapper {
        padding: 0 5%;
    }
}

.App .content-wrapper {
    display: block;
    padding: 0 15%;
}

.App .content {
    display: flex;
    margin: 0 auto;

    width: 100%;
}

.App main {
    min-width: calc(70% - 20px);
    max-width: calc(70% - 20px);

    margin-right: 20px;
}
