.Post-main {
    overflow: hidden;
    min-height: 100px;
    width: 100%;

    margin-top: 15px;

    border: 2px solid var(--color-lavender);
    box-sizing: border-box;
}

.Post-header {
    padding: 15px 20px 0;
    margin-bottom: 10px;
}

.Post-title {
    margin: 0;
    display: inline-block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    cursor: pointer;
    font-weight: 400;
    color: rgb(68, 69, 84);
}

.Post-content {
    padding: 0 20px 10px;
    overflow: hidden;
}

.Post-content p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Post-footer {
    padding: 0 20px;

    border-top: 2px solid var(--color-lavender);
    box-sizing: border-box;

    font-size: 0.9rem;
    text-align: right;
    text-transform: capitalize;
    line-height: 30px;
}