.Sidebar {
    display: block;

    width: 30%;
    min-width: 200px;
}

.Sidebar-block {
    margin-top: 15px;
}

@media (max-width: 900px) {
    .AuthBlock__form input {
        width: 235px;
    }
}
